<p id="notice"><%= notice %></p>

<p>
  <b>Difficulty:</b>
  <%= @review.difficulty %>
</p>

<p>
  <b>Workload:</b>
  <%= @review.workload %>
</p>

<p>
  <b>Review:</b>
  <%= @review.review %>
</p>

<%= link_to 'Back', subject_path(@review.subject) %>
